body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
  background-image: linear-gradient(
    109.6deg,
    rgba(156, 252, 248, 1) 11.2%,
    rgba(110, 123, 251, 1) 91.1%
  );
}

.carousel .carousel-item {
  display: none;
}

.carousel-item-hidden {
  display: none;
}
.carousel {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
}

img {
  width: 100%;
  border-radius: 10px;
}

.carousel .carousel-item-visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

.carousel-actions button {
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  transition: 0.2s ease;
}

.carousel-actions button:active {
  transform: scale(0.8);
}

.carousel-actions #carousel-btn-prev {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
}

.carousel-actions #carousel-btn-next {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
}

.circles {
  margin-top: 20px;
  display: flex;
  width: 160px;
  justify-content: space-between;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.deactive {
  background: rgba(255, 255, 255, 0.2);
}
.active {
  background-color: rgba(255, 255, 255, 0.8);
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
