body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url(images/bg.jpg);
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  font-weight: bold;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(255, 255, 255, 0.26);
  padding: 20px;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  cursor: pointer;
  color: #000;
  background-color: goldenrod;
  border: 0;
  text-transform: uppercase;
  width: 250px;
  font-size: 30px;
  padding: 10px 0;
  border-radius: 2px;
  font-weight: bold;
  margin: 5px 0;
  transition: transform 0.3s ease;
}

button:active {
  transform: scale(0.85);
}

.challenge {
  font-size: 20px;
}

.challenge a {
  color: black;
}

.challenge a:hover {
  text-decoration: none;
}
@media screen and (max-width: 500px) {
  .container {
    font-size: 25px;
    width: 300px;
  }
  button {
    font-size: 25px;
  }
  .challenge {
    font-size: 15px;
  }
}
