@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Base */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    padding: 50px 10px;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

h1 {
    margin-bottom: 20px;
}

.card {
    width: 200px;
    height: 280px;
    /* background-color: #28C76F; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: -2;
}

.card img {
    width: 120px;
}

.card .circle {
    position: absolute;
    top: 10%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: -1;
}


.card__info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card__info .id {
    width: 80px;
    background-color: rgba(0, 0, 0, 0.1) ;
    color: #fff;
    border-radius: 10px;
    padding: 2px 0;
    margin-bottom: 10px;
}

.card__info .name {
    font-size: 20px;
}

.card__info .type {
    font-size: 14px;    
    margin-top: 5px;
}

