html,
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#open-modal,
#close-modal {
  background-color: royalblue;
  color: white;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
}

button:active {
  transform: scale(0.9);
}

#modal {
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  height: 200px;
  position: relative;
  top: 30%;
}

#overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.3);
}
