/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Root */
:root {
  --doger-blue: #0079fe;
  --dark-blue: #141c2f;
  --grayish-blue: #e1eef5;
  --light-blue: #1f2a48;
  --gray: #8e93a6;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
html {
  font-size: 62.5%;
}

body {
  font-family: "Space Mono", monospace;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--grayish-blue);
  transition: all 0.2s ease;
  position: relative;
}

a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* Theme */
.darkmode {
  background-color: var(--dark-blue);
  color: #fff;
}

.container {
  margin: 1.5rem;
  width: 650px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  cursor: pointer;
  width: 80px;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--gray);
}

.darkmode .header button {
  color: #fff;
}

.searchbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--doger-blue);
  flex-wrap: nowrap;
}

.searchbar input {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  width: 100%;
  margin-left: 1rem;
}

.searchbar .inputDiv {
  display: flex;
  align-items: center;
  width: 80%;
}

.searchbar #search {
  background-color: var(--doger-blue);
  border: none;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  font-family: inherit;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
}

.searchbar #search:hover {
  background-color: #0269d7;
}

.darkmode .searchbar {
  background-color: var(--light-blue);
}
.darkmode .searchbar input {
  color: #fff;
}
.darkmode .searchbar input::placeholder {
  color: #fff;
}

.user-info {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
}

.user-id {
  display: flex;
  margin-bottom: 2rem;
}

.user-id img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 3rem;
}

.user-id .id {
  display: flex;
  flex-direction: column;
}

.user-id .id h2 {
  font-size: 1.8rem;
}

.user-id .id #username {
  color: var(--doger-blue);
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 0.2rem;
}

.user-id .id #date {
  font-size: 1.2rem;
  color: var(--dark-blue);
  font-weight: bold;
}

.user-bio {
  font-size: 1.5rem;
  color: var(--dark-blue);
  margin-bottom: 2rem;
}

.user-repo {
  background-color: var(--grayish-blue);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  margin-bottom: 2rem;
}

.user-location {
  margin-bottom: -1rem;
}

.repo,
.followers,
.following {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  color: var(--gray);
  font-size: 1.2rem;
}

.no {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
}

.user-location {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.user-location a {
  cursor: pointer;
  margin-bottom: 1rem;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
}

.user-location a:hover {
  text-decoration: underline;
  color: var(--doger-blue);
}

a.location {
  cursor: default;
}

a.location:hover {
  color: inherit;
  text-decoration: none;
}

.user-location div {
  display: flex;
  flex-direction: column;
}

.user-location a i {
  margin-right: 1rem;
}

a.not-available {
  color: var(--gray);
}

a.not-available:hover {
  color: var(--gray);
  text-decoration: none;
}
.darkmode .user-id #date {
  color: var(--grayish-blue);
}
.darkmode .user-bio {
  color: var(--grayish-blue);
}
.darkmode .user-info {
  background-color: var(--light-blue);
}

.darkmode .user-repo {
  background-color: var(--dark-blue);
}

.darkmode .user-repo .no {
  color: #fff;
}

.error {
  font-size: 1.5rem;
  text-align: center;
}

.attribution {
  font-size: 1.5rem;
  position: absolute;
  bottom: 0%;
  margin: 2rem;
  margin-top: 5rem;
  text-align: center;
}

.attribution a {
  color: inherit;
}

/* iPad View */
@media screen and (min-width: 475px) {
  .user-info {
    padding: 3rem 5rem;
  }

  .user-location {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Desktop View */
@media screen and (min-width: 768px) {
  .user-bio,
  .user-repo,
  .user-location {
    margin-left: 10rem;
  }

  .searchbar {
    padding: 0.5rem 2rem;
    padding-right: 1rem;
  }
  .searchbar #search {
    padding: 1rem 2rem;
  }
}

.hide {
  display: none;
}
