<footer class="block block--dark footer">
    <div class="container grid footer__sections">
      <section class="collapsable collapsable--expanded footer__section">
        <header class="collapsable__header">
          <h2 class="collapsable__heading footer__heading">Products</h2>
          <img
            src="images/chevron.svg"
            alt=""
            class="icon icon--primary collapsable__chevron"
          />
        </header>
        <div class="collapsable__content">
         <ul class="list">
           <li><a href="#">WordPress Hosting</a></li>
           <li><a href="#">Free Automated WordPress</a></li>
           <li><a href="#">Migrations</a></li>
           <li><a href="#">Domain Names</a></li>
           <li><a href="#">Monthly Web Hosting</a></li>
         </ul>
        </section>
      <section class="collapsable footer__section">
        <header class="collapsable__header">
          <h2 class="collapsable__heading footer__heading">Company</h2>
          <img
            src="images/chevron.svg"
            alt=""
            class="icon icon--primary collapsable__chevron"
          />
        </header>
        <div class="collapsable__content">
          <ul class="list">
            <li><a href="#">About</a></li>
            <li><a href="#">Affiliates</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Green Hosting</a></li>
          </ul>
        </section>
      <section class="collapsable  footer__section">
        <header class="collapsable__header">
          <h2 class="collapsable__heading footer__heading">Support</h2>
          <img
            src="images/chevron.svg"
            alt=""
            class="icon icon--primary collapsable__chevron"
          />
        </header>
        <div class="collapsable__content">
          <ul class="list">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Knowledge Base</a></li>
            <li><a href="#">Forums</a></li>
            <li><a href="#">System Status</a></li>
            <li><a href="#">Web Hosting</a></li>
            <li><a href="#">Dream Compute</a></li>
          </ul>
        </section>
      <section class="collapsable  footer__section">
        <header class="collapsable__header">
          <h2 class="collapsable__heading footer__heading">Domains</h2>
          <img
            src="images/chevron.svg"
            alt=""
            class="icon icon--primary collapsable__chevron"
          />
        </header>
        <div class="collapsable__content">
          <ul class="list">
            <li><a href="#">Domain Checker</a></li>
            <li><a href="#">Domain Transfer</a></li>
            <li><a href="#">Free Domain</a></li>
            <li><a href="#">XYZ Domain</a></li>
            <li><a href="#">Cheap SSL Certificate</a></li>
            
          </ul>
        </section>
        <section class="footer__brand">
          <img src="images/logo.svg" alt="">
          <p class="footer__copyright">Copyright 2022 Ahmad Fardous Azimi</p>
        </section>
      </div>
    </div>
  </footer>