<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta veniam
    corporis iure corrupti. Quisquam, inventore iste. Tempora cupiditate
    reprehenderit perferendis.
  </p>
  <div class="media">
    <div class="media__image">
      <svg class="icon icon--primary quote__line">
        <use xlink:href="../images/sprite.svg#line"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title quote__author">Ahmad Fardous Azimi</h3>
      <p class="quote__company">Web 3.0 Enthusiast</p>
    </div>
  </div>
</blockquote>
